.profile-item {
  display: flex;
  align-items: center;
  padding: 8px 0;
  height: 48px; /* Ensuring consistent height */
}

.profile-label {
  font-weight: bold;
  margin-right: 8px;
  min-width: 100px;
  text-transform: capitalize; /* Ensure the first letter is capitalized */
}

.profile-value {
  flex: 1;
}

.profile-form-item {
  width: 100%;
  .ant-form-item-label {
    flex: 1;
  }
  .ant-form-item-control {
    flex: 3;
  }
}

@media (max-width: 768px) {
  .profile-item {
    flex-direction: column;
    align-items: flex-start;
    height: auto; /* Adjust for mobile */
  }
  .profile-label {
    margin-bottom: 4px;
  }
  .profile-form-item {
    .ant-form-item-label {
      text-align: left;
    }
  }
}
